*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(
    to right top,
    mediumslateblue 7%,
    mediumpurple 15%,
    plum,
    palevioletred,
    hotpink,
    lightpink,
    lightsteelblue
  );
  /* background-image: url(../assets/images/background2.jpg);
  background-size: cover;
  background-position: left; */

  /* background: #4568dc; /* fallback for old browsers */
  /* background: linear-gradient(to top right, #4568dc, #b16ab3); */
}
